export(get.pi)
export(get.pi.ci)
export(get.pi.bootstrap)
export(get.pi.permute)
export(get.tau)
export(get.tau.bootstrap)
export(get.tau.permute)
export(get.pi.typed)
export(get.pi.typed.bootstrap)
export(get.pi.typed.permute)
export(get.tau.typed)
export(get.tau.ci)
export(get.tau.typed.bootstrap)
export(get.tau.typed.permute)
useDynLib(spatialtau, .registration=TRUE, .fixes="C_")
